<div class="row mt-4">
  <div class="col-sm-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <a href="#" *ngFor="let recipe of recipes">
      <div class="card mt-1">
        <div class="card-body clearfix">
          <div class="float-left">
            <h4>{{recipe.name}}</h4>
            <p>{{recipe.description}}</p>
          </div>
          <div class="float-right w-25">
            <img [src]="recipe.imagePath"
                 alt="no image"
                 class="img-fluid rounded">
          </div>
        </div>
      </div>
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>
