<div class="row">
  <div class="col-sm-12">
    <img [src]="(recipeState | async).recipes[id].imagePath" class="img-fluid rounded" alt="">
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h1>{{(recipeState | async).recipes[id].name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle"
              appDropdown
              #r="appDropdown">
        Manage Recipe
      </button>
      <div class="dropdown-menu" [ngClass]="{'show': r.isOpen}">
        <a class="dropdown-item" (click)="onAddToShoppingList()">To Shopping List</a>
        <a class="dropdown-item"
           [routerLink]="['edit']">Edit Recipe</a>
        <a class="dropdown-item" (click)="onDelete()">Delete Recipe</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
   <p>{{(recipeState | async).recipes[id].description}}</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <ul class="list-group">
      <li class="list-group-item"
          *ngFor="let ingredient of (recipeState | async).recipes[id].ingredients">{{ingredient.name}} - {{ingredient.amount}}</li>
    </ul>
  </div>
</div>
