<div class="container mt-lg-4">
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 mb-2">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a routerLink="/"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}"
             class="nav-link">Home</a></li>
        <li class="nav-item">
          <a routerLink="/servers"
             routerLinkActive="active"
             class="nav-link">Servers</a></li>
        <li class="nav-item">
          <a [routerLink]="['/users']"
             routerLinkActive="active"
             class="nav-link">Users</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
